/*
================================
     Theme Fonts Family
================================
 */
@import "https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,800";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@font-face {
  src: url("../fonts/MYRIADPRO-BOLDCOND2.OTF");
  font-family: myriad-pro-bold;
}
@font-face {
  src: url("../fonts/gothicb.ttf");
  font-family: gothicb;
}
@font-face {
  src: url("../fonts/CenturyGothic.ttf");
  font-family: CenturyGothic;
}
@font-face {
  src: url("../fonts/MYRIADPRO-REGULAR.OTF");
  font-family: myriad-pro-regular;
}
@font-face {
  src: url("../fonts/LEMONMILK-Regular.otf");
  font-family: lemonmilk-Regular;
}
@font-face {
  src: url("../fonts/LEMONMILK-bold.otf");
  font-family: lemonmilk-bold;
}
@font-face {
  src: url("../fonts/LEMONMILK-Medium.otf");
  font-family: lemonmilk-medium;
}
@font-face {
  src: url("../fonts/Angelic-Bonques-Script.otf");
  font-family: angelic-bonques-script;
}
/* line 6, ../sass/app.scss */
body {
  font-size: 14px;
  background: #fff;
  color: #000000;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* line 14, ../sass/app.scss */
.hc-navbar {
  background: url("../images/menu-bg.png") center/contain no-repeat;
  padding: 0.8rem 0rem;
  /*margin: 0 2rem;*/
}
/* line 18, ../sass/app.scss */
.hc-navbar .navbar-nav {
  margin-left: 30px;
  align-items: center;
}
/* line 23, ../sass/app.scss */
.hc-navbar .navbar-nav .nav-item a {
  padding-left: 1.3rem;
  color: #FFF;
  font-size: 18px;
  font-family: myriad-pro-bold;
}
/* line 28, ../sass/app.scss */
.hc-navbar .navbar-nav .nav-item a:hover {
  color: #cb8834;
}
/* line 33, ../sass/app.scss */
.hc-navbar .navbar-nav .nav-item.active a {
  color: #cb8834;
}
/* line 39, ../sass/app.scss */
.hc-navbar .navbar-nav .order-button {
  background: url("../images/order-button.png") center/contain no-repeat;
  padding: 10px 0  10px 30px;
  margin-left: 50px;
  margin-right: 20px;
}
/* line 43, ../sass/app.scss */
.hc-navbar .navbar-nav .order-button a {
  font-family: lemonmilk-Regular;
  font-size: 12px;
}
/* line 46, ../sass/app.scss */
.hc-navbar .navbar-nav .order-button a:hover {
  color: #FFF;
}
/* line 54, ../sass/app.scss */
.hc-navbar .navbar-brand img {
  max-height: 33px;
  padding-left: 50px;
}

/* line 60, ../sass/app.scss */
.pro-carousel .item a:hover img {
  transform: scale(1.1);
}

/* line 63, ../sass/app.scss */
#qodef-back-to-top {
  position: fixed;
  right: 0;
  bottom: 15px;
  z-index: 100;
  padding: 10px;
  opacity: 0;
  color: #000;
  transition: color .3s, opacity .5s, visibility .5s;
}

/* line 74, ../sass/app.scss */
a:focus {
  outline: none !important;
}

/* line 77, ../sass/app.scss */
#qodef-back-to-top svg {
  fill: #fff;
}

/* line 80, ../sass/app.scss */
#qodef-back-to-top.show {
  opacity: 1;
  visibility: visible;
}

/* line 85, ../sass/app.scss */
.donate-button {
  position: absolute;
  top: -35px;
  right: -127px;
}
/* line 89, ../sass/app.scss */
.donate-button img {
  max-height: 110px;
  transition: .4s all;
}
/* line 92, ../sass/app.scss */
.donate-button img:hover {
  transform: scale(1.1);
}

/* line 97, ../sass/app.scss */
.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none;
  border: 0;
  outline: none;
}

/* line 102, ../sass/app.scss */
.navbar-toggler:focus .fa, .navbar-toggler:hover .fa {
  color: #e78600 !important;
}

/* line 105, ../sass/app.scss */
.slick-slider {
  display: flex !important;
}

/* line 109, ../sass/app.scss */
.slick-slide {
  max-width: 100%;
}

/* line 112, ../sass/app.scss */
.home-section {
  padding: 60px 0 100px;
  background: url("../images/bg1.jpg") center/cover no-repeat;
}

/* line 116, ../sass/app.scss */
.donate-section {
  padding: 60px 0 0;
  background: url(../images/HOTandCOOL_donation-page.jpg) center/cover no-repeat, #e06c2f;
}
.about-header-section {
  padding: 60px 0;
  background: url(../images/bg1.jpg) center/cover no-repeat, #e06c2f;
}

/* line 120, ../sass/app.scss */
.pro-section {
  padding: 70px 0 100px;
  background: url("../images/bg2.jpg") center/cover no-repeat;
}

/* line 124, ../sass/app.scss */
.merch-section {
  padding: 70px 0 80px;
  background: url("../images/bgmerch.jpg") center/cover no-repeat;
}
.merch-section, .merch-section , .pro-section , .checkout-section{
  position: relative;
}

/* line 128, ../sass/app.scss */
.checkout-section {
  background: url("../images/bg3.jpg") center/cover no-repeat;
}

/* line 132, ../sass/app.scss */
.green-section {
  position: relative;
  background: url("../images/bg4.jpg") center/cover no-repeat;
  padding-bottom: 60px;
}

/* line 138, ../sass/app.scss */
.h1 {
  font-size: 44px;
  font-family: lemonmilk-medium;
  color: #522e28;
}

/* line 143, ../sass/app.scss */
.hc-center-logo {
  position: absolute;
  top: 0;
  right: -310px;
  z-index: 1;
}

/* line 149, ../sass/app.scss */
.para1 {
  font-size: 26px;
  color: #522d28;
  font-weight: 600;
}
.para3 {
  font-size: 24px;
  font-weight: 500;
}
.para4 {
  font-size: 27px;
  font-weight: 600;
}
.mb-6 {
    margin-bottom: 6rem;
}
.mt-6 {
    margin-top: 6rem;
}

.white-box  .img_left img,.white-box  .img_right img{
  max-height: 310px;
}
.white-box  .img_left ,.white-box  .img_right{
  position: absolute;
  bottom: -42px;
  z-index: 1;
}
.center-social-mt {
  margin-top: -50px;
  z-index: 100;
  position: relative;
  margin-right: 100px;
}
.hc-footer-heading {

}
.white-box  .img_left {
  left: 0;
}
.hhc_collapse {
    margin: 40px 0;
}

.hhc_collapse .btn_collapse:hover,
.hhc_collapse .btn_collapse:focus {
    background: #89485C;
    box-shadow: none;
}
.hhc_collapse .btn_collapse{
    background: #78384c;
    border-radius: 0; position: relative;
    color: #FFF;
    font-size: 26px;
    font-weight: 600;
    padding: 25px;
    width: 100%;
    text-align: left;
    transition: .3s all ease-in-out;
}
.hhc_collapse .card{
    background: transparent;
    border: 0;    line-height: 48px;
    color: #FFF;    font-weight: 500;
    font-size: 24px; display: block;
    padding: 40px 0 0;
}
.hhc_collapse .card a{
    color: #ff8319;
}

.hhc_collapse .btn_collapse::before{
    content: "\f0d8";
    font-family: FontAwesome;
    position: absolute;
    float: right;
    background: #FFF;
    color: #5d2828;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
    margin-top: 5px;
    right: 25px;
    top: 29px;
}
.hhc_collapse .btn_collapse.collapsed::before{
    content: "\f0d7";
}

.white-box  .img_center {
  transform: scale(1.7);
}
.white-box  .img_right {
  right: 0;
}
/* line 154, ../sass/app.scss */
.para1, .para2, .para3 , .para4 ,.hc-footer-para{
  font-family: "Montserrat", sans-serif;
}
.hhc_collapse .btn_collapse, .hhc_collapse .card-body {
  font-family: CenturyGothic;
}
.hc-footer-para {
  font-size: 18pt;
  color: #FFF;
  padding: 0 50px;
  font-weight: 500;
}
/* line 157, ../sass/app.scss */
.hc-orange-box {
  padding: 100px 0;
}
/* line 159, ../sass/app.scss */
.hc-orange-box h2 {
  font-family: lemonmilk-medium;
  letter-spacing: 2px;
  font-size: 25pt;
  color: #FFF;
}
/* line 165, ../sass/app.scss */
.hc-orange-box h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
}

/* line 172, ../sass/app.scss */
.para2 {
  font-size: 26px;
  color: #fff;
  line-height: 46px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 180, ../sass/app.scss */
.berry-white {
  font-size: 42px;
  color: #4d222e;
}

/* line 184, ../sass/app.scss */
.berry-white-sub {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  line-height: 58px;
  font-weight: 700;
}

/* line 190, ../sass/app.scss */
.berry-white-sub.f28 {
  font-size: 28px;
}

/* line 193, ../sass/app.scss */
.navy-blue {
  color: #1f0d7e;
}

/* line 196, ../sass/app.scss */
.lemonmilk-bold {
  font-family: lemonmilk-bold;
}

/* line 199, ../sass/app.scss */
.lemonmilk-bold,.hc-footer-heading {
  font-family: lemonmilk-medium;
}

/* line 202, ../sass/app.scss */
.btn-insta, .btn-learn-more, .btn-place-ordered, .btn-place-ordered2, .btn-place-ordered3,.btn-donate-now2 , .btn-donate-now,
.btn-learn-more:focus, .btn-place-ordered:focus, .btn-place-ordered2:focus, .btn-place-ordered3:focus, .btn-donate-now:focus {
  font-family: lemonmilk-medium;
  font-size: 20px;
  color: #FFF;
  width: 312px;
  padding: 35px 0 35px 70px;
  line-height: 20px;
}
/* line 211, ../sass/app.scss */
.btn-insta:hover, .btn-learn-more:hover, .btn-place-ordered:hover, .btn-place-ordered2:hover, .btn-place-ordered3:hover, .btn-donate-now:hover,.btn-donate-now2:hover,
.btn-learn-more:focus:hover, .btn-place-ordered:focus:hover, .btn-place-ordered2:focus:hover, .btn-place-ordered3:focus:hover, .btn-donate-now:focus:hover {
  color: #FFF;
}

/* line 215, ../sass/app.scss */
.btn-learn-more {
  background: url(../images/learn-more.png) center/contain no-repeat;
}

/* line 218, ../sass/app.scss */
.btn-insta {
  background: url(../images/insta-btn.png) center/contain no-repeat;
  font-size: 22px;
  line-height: 28px;
}

/* line 223, ../sass/app.scss */
.btn-donate-now {
  background: url(../images/donate-btn.png) center/contain no-repeat;
}
/* line 223, ../sass/app.scss */
.btn-donate-now2 {
  background: url(../images/order-button2.png) center/contain no-repeat;
}

/* line 226, ../sass/app.scss */
.btn-place-ordered {
  font-size: 22px;
  background: url(../images/palced-order.png) center/contain no-repeat;
}

/* line 230, ../sass/app.scss */
.btn-place-ordered2 {
  background: url(../images/order-now.png) center/contain no-repeat;
  font-size: 22px;
}

/* line 234, ../sass/app.scss */
.btn-place-ordered3 {
  background: url(../images/yellow-order-button.png) center/contain no-repeat;
  font-size: 22px;
  color: #2e5056;
  line-height: 28px;
}
/* line 239, ../sass/app.scss */
.btn-place-ordered3:hover {
  color: #2e5056;
}

/* line 243, ../sass/app.scss */
.section-heading {
  text-transform: uppercase;
  font-family: lemonmilk-medium;
  text-align: center;
  color: #FFF;
  padding: 22px;
  font-size: 50px;
  margin-bottom: 0;
}

/* line 252, ../sass/app.scss */
.slick-arrow img {
  max-width: 20px;
}

/* line 255, ../sass/app.scss */
.slick-prev {
  left: -55px;
}

/* line 257, ../sass/app.scss */
.slick-next {
  right: -55px;
}

/* line 260, ../sass/app.scss */
.sh-orange {
  background: url("../images/orange-heading.png") center/contain no-repeat;
}

/* line 263, ../sass/app.scss */
.sh-merch {
  background: url("../images/merch-heading.png") center/contain no-repeat;
}

/* line 266, ../sass/app.scss */
.hs-shadepink {
  background: url("../images/shadepink-heading.png") center/contain no-repeat;
}
.hs-about {
  background: url("../images/black-heading.png") center/contain no-repeat;
}
.sh-faq {
  background: url("../images/faq-heading.png") center/contain no-repeat;
}

/* line 269, ../sass/app.scss */
.hs-grey {
  background: url("../images/grey-heading.png") center/contain no-repeat;
  color: #2e5056;
}
.hs-social {
  background: url("../images/social-heading.png") center/contain no-repeat;
  color: #2e5056;
}

/* line 273, ../sass/app.scss */
.pt100 {
  padding-top: 100px;
}

/* line 276, ../sass/app.scss */
.hc-orange-heading {
  color: #c5744c;
  font-size: 40px;
  font-family: lemonmilk-medium;
}

/* line 281, ../sass/app.scss */
.text-black {
  color: #000;
}

/* line 284, ../sass/app.scss */
.pro-carousel h4 {
  font-family: angelic-bonques-script;
  font-size: 42px;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 0px;
  padding: 3px;
}

/* line 292, ../sass/app.scss */
.heading-middle {
  position: absolute;
  top: -50px;
  z-index: 1;
  width: 100%;
  left: 0;
}

/* line 299, ../sass/app.scss */
.blog_heading {
  font-size: 18px;
  font-family: lemonmilk-medium;
  color: #414141;
  min-height: 43.2px;
}

/* line 305, ../sass/app.scss */
.blog_post p {
  font-family: CenturyGothic;
  font-weight: 600;
  font-size: 16px;
  color: #8d8d8d;
}

/* line 311, ../sass/app.scss */
.blog_post {
  background: #FFF;
  box-shadow: 0px 0px 10px #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: .3s all ease-in-out;
}
/* line 317, ../sass/app.scss */
.blog_post .blog_meta {
  padding: 25px 20px;
}
/* line 320, ../sass/app.scss */
.blog_post:hover {
  transform: scale(1.05) !important;
}

/* line 325, ../sass/app.scss */
.blog_detail p {
  font-family: myriad-pro-regular;
  font-size: 18px;
  font-weight: 400;
  color: #555555d1;
}
/* line 331, ../sass/app.scss */
.blog_detail a {
  color: #a50e0e;
}
/* line 334, ../sass/app.scss */
.blog_detail h2 {
  font-size: 26px;
  letter-spacing: .8px;
  font-family: lemonmilk-medium;
}
/* line 339, ../sass/app.scss */
.blog_detail h3 {
  font-size: 22px;
  letter-spacing: .8px;
  font-family: lemonmilk-Regular;
}

/* line 346, ../sass/app.scss */
.time-heading {
  font-size: 32px;
  color: #FFF;
  font-family: lemonmilk-medium;
}

/* line 353, ../sass/app.scss */
.owl-orange-bg {
  background: url(../images/owl-orange.png) center/contain no-repeat;
  text-shadow: 2px 0 0 #d38e3e, -2px 0 0 #d38e3e, 0 2px 0 #d38e3e, 0 -2px 0 #d38e3e, 1px 1px #d38e3e, -1px -1px 0 #d38e3e, 1px -1px 0 #d38e3e, -1px 1px 0 #d38e3e;
}

/* line 357, ../sass/app.scss */
.owl-green-bg {
  background: url(../images/owl-green.png) center/contain no-repeat;
  text-shadow: 2px 0 0 #1c331c, -2px 0 0 #1c331c, 0 2px 0 #1c331c, 0 -2px 0 #1c331c, 1px 1px #1c331c, -1px -1px 0 #1c331c, 1px -1px 0 #1c331c, -1px 1px 0 #1c331c;
}

/* line 361, ../sass/app.scss */
.owl-pinkred-bg {
  background: url(../images/owl-pinkred.png) center/contain no-repeat;
  text-shadow: 2px 0 0 #601922, -2px 0 0 #601922, 0 2px 0 #601922, 0 -2px 0 #601922, 1px 1px #601922, -1px -1px 0 #601922, 1px -1px 0 #601922, -1px 1px 0 #601922;
}

/* line 365, ../sass/app.scss */
.owl-shadered-bg {
  background: url(../images/owl-shade-red.png) center/contain no-repeat;
  text-shadow: 2px 0 0 #cf5137, -2px 0 0 #cf5137, 0 2px 0 #cf5137, 0 -2px 0 #cf5137, 1px 1px #cf5137, -1px -1px 0 #cf5137, 1px -1px 0 #cf5137, -1px 1px 0 #cf5137;
}

/* line 369, ../sass/app.scss */
.voting-section {
  padding: 100px 0;
  background: url(../images/HOTandCOOL_donation-bg01.jpg) center/cover no-repeat;
}
.faq-section {
  padding: 100px 0;
  background: url(../images/faq-bg.png) center/cover no-repeat;
}
.about-section {
  margin-top: -50px;
  position: relative;
  padding: 60px 0;
  background: url(../images/h&c-black-bg.png) top center/cover no-repeat;
}
.social-section {
  padding: 0 0 40px;
  background: url(../images/bg2.jpg) center/cover no-repeat;
}
.enterprise-section {
  background: url(../images/bg7.png) top center/cover no-repeat;
}
.enterprise-section,.black-center-section,.orange-center-section {
  padding: 100px 0 80px;
}
.enterprise-section,.black-center-section {
  margin-top: -50px;
}

.black-center-section {
  background: url(../images/bg6.png) top center/cover no-repeat;
  position: relative;
}
.orange-center-section {
  position: relative;
  background: url(../images/bg8.png) top center/cover no-repeat;
}

.voting-heading {
  font-size: 32pt;
  color: #000;
}
.voting-heading, .black-center-section h2 {
  font-family: lemonmilk-medium;
}
.h2-rotate {
  transform: rotate(270deg);
  position: absolute;
  top: 470px;
  left: -300px;
}

.h2-rotate-right {
  transform: rotate(90deg);
  position: absolute;
  top: 490px;
  right: -300px;
}

.black-center-section h2 {
  font-size: 26pt;
  color: #5a5b5b;
}

/* line 381, ../sass/app.scss */
.pt-20 {
  margin-top: -20px;
}

/* line 384, ../sass/app.scss */
.voting-heading br {
  display: none;
}

/* line 387, ../sass/app.scss */
.marty_donate {
  background-color: #6e6c6c;
  padding: 50px 0 33px;
}

/* line 391, ../sass/app.scss */
.marty-cap {
  position: absolute;
  top: -140px;
  z-index: 1;
}

/* line 395, ../sass/app.scss */
.gothic-regular {
  font-family: CenturyGothic;
  font-size: 19pt;
  font-weight: 600;
}

/* line 400, ../sass/app.scss */
.gothic-heading {
  font-family: gothicb;
  font-size: 26pt;
  font-weight: 700;
}

/* line 405, ../sass/app.scss */
.hc-footer {
  position: relative;
  float: left;
  background: url("../images/footer-top.png") center/cover no-repeat;
  width: 100%;
}

/* line 420, ../sass/app.scss */
a, .pro-carousel .item a img, .pro-carousel .item a h4 {
  -webkit-transition: 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  -ms-transiion: 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  -moz-transition: 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  transition: 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
}
/* line 425, ../sass/app.scss */
a:hover, .pro-carousel .item a img:hover, .pro-carousel .item a h4:hover {
  text-decoration: none;
}

/* line 429, ../sass/app.scss */
.btn-pri {
  background-color: #528bcc;
  border-radius: 0;
  font-size: 13px;
}

/* line 434, ../sass/app.scss */
.hc-footer-left {
  padding: 60px 0;
}

/* line 440, ../sass/app.scss */
.hc-footer-copyright {
  background: url("../images/footer-copyright.png") center/cover no-repeat;
}

/* line 443, ../sass/app.scss */
.hc-footer-text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}

/* line 448, ../sass/app.scss */
.team-marty {
  padding-left: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 0;
}
/* line 453, ../sass/app.scss */
.team-marty li {
  padding: 0 5px;
  display: inline-block;
  text-align: center;
}
/* line 454, ../sass/app.scss */
.team-marty li p {
  margin-bottom: 0;
  font-size: 8pt;
  color: #FFF;
}
/* line 459, ../sass/app.scss */
.team-marty li h5 {
  font-family: lemonmilk-medium;
  font-size: 9pt;
  color: #FFF;
  margin-bottom: 2px;
}
/* line 468, ../sass/app.scss */
.team-marty li img {
  width: 120px;
}
.social_media i{
    transition: .4s all ease-in-out;
    background: #fff;
    color: #e32929;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 37px;
    border-radius: 100%;
    font-size: 19px;
}
.social_media i:hover{
    background: #e32929;
    color: #fff;
}

/* line 473, ../sass/app.scss */
.hc-footer-right {
  float: left;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}
/* line 483, ../sass/app.scss */
.hc-footer-right a {
  color: #fff;
}
/* line 486, ../sass/app.scss */
.hc-footer-right .hc-footer-right-r p {
  margin-bottom: 6px;
}

/* line 490, ../sass/app.scss */
.pr-sm-0 {
  padding-right: 0;
}

/* line 493, ../sass/app.scss */
.f20 {
  font-size: 20px;
}

/* line 496, ../sass/app.scss */
.hc-footer-right-l {
  width: 220px;
  padding-right: 20px;
}

/* line 500, ../sass/app.scss */
.hc-footer-copyright {
  float: left;
  width: 100%;
  padding: 17px 0;
}
.d-sm-p {
  margin-left: 3rem;
}
/* line 504, ../sass/app.scss */
.hc-footer-copyright p {
  font-size: 16px;
  color: #FFF;
}
/* line 508, ../sass/app.scss */
.hc-footer-copyright img {
  max-width: 150px;
}

/* line 515, ../sass/app.scss */
.right-side-juice {
  position: absolute;
  top: 20%;
  right: 0;
  max-width: 170px;
  -webkit-animation-name: float_up_down;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

/* Bob Up Down*/
@-webkit-keyframes float_up_down {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes float_up_down {
  0% {
    transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(30px);
    transform: translateY(30px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
/* line 566, ../sass/app.scss */
.slick-next:before, .slick-prev:before {
  display: none;
}

/*
==========================
    Media Queries
==========================
*/
@media (max-width: 1200px) {
  /* line 9, ../sass/_screen.scss */
  .right-side-juice {
    max-width: 120px;
  }

  /* line 12, ../sass/_screen.scss */
  .berry-white-sub br {
    display: none;
  }
}
@media (max-width: 991px) {
  .about-page .heading-middle {
    top: -35px;
    left: 0;
    width: 100%;
  }
  .d-sm-n {
    display: none;
  }
  /* line 17, ../sass/_screen.scss */
  #qodef-back-to-top {
    display: none !important;
  }

  /* line 20, ../sass/_screen.scss */
  .marty-cap {
    position: relative;
    top: 0;
  }

  /* line 24, ../sass/_screen.scss */
  .hc-center-logo {
    top: 40px;
    right: -185px;
  }

  /* line 28, ../sass/_screen.scss */
  .hc-center-logo img {
    max-width: 290px;
  }

  /* line 32, ../sass/_screen.scss */
  .hc-navbar .navbar-nav .order-button {
    margin-left: 0px;
    padding: 10px 0 10px 45px;
    width: 160px;
  }

  /* line 37, ../sass/_screen.scss */
  .hc-navbar .navbar-nav {
    margin-left: 0;
    align-items: baseline;
  }

  /* line 41, ../sass/_screen.scss */
  .hc-navbar .navbar-brand img {
    max-height: 33px;
    padding-left: 0;
  }

  /* line 45, ../sass/_screen.scss */
  .hc-navbar {
    padding: 1rem;
    margin: 0;
    background-color: #133419;
  }

  /* line 50, ../sass/_screen.scss */
  .hc-navbar .navbar-nav .nav-item a {
    padding-left: 0;
  }

  /* line 53, ../sass/_screen.scss */
  .section-heading {
    background-size: cover !important;
    font-size: 36px;
    padding: 10px;
  }

  /* line 58, ../sass/_screen.scss */
  .right-side-juice {
    top: 30%;
    max-width: 80px;
  }

  /* line 62, ../sass/_screen.scss */
  .para2 {
    font-size: 20px;
    line-height: 36px;
  }

  /* line 66, ../sass/_screen.scss */
  .time-heading {
    font-size: 28px;
  }

  /* line 69, ../sass/_screen.scss */
  .hc-orange-heading {
    font-size: 36px;
  }

  /* line 72, ../sass/_screen.scss */
  .pro-carousel .item, .para2, .time-heading {
    padding: 0 15px;
  }

  /* line 75, ../sass/_screen.scss */
  .heading-middle {
    top: -35px;
    left: auto;
    width: 690px;
  }

  /* line 80, ../sass/_screen.scss */
  .berry-white-sub {
    font-size: 28px;
    line-height: 38px;
  }

  /* line 85, ../sass/_screen.scss */
  .donate-button {
    top: -20px;
    right: 50px;
  }
  .para4 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .d-sm-p {
    margin-left: 0;
  }
  .black-center-section h2 {
    font-size: 16pt;
  }
  .hc-footer-para {
    padding: 0;
  }
  .h2-rotate {
    top: 400px;
    left: -190px;
  }
  .h2-rotate-right {
    top: 370px;
    right: -200px;
  }
  .p-05 {
    padding: 0 30px;
  }
  .about-section {
    margin-top: -100px;
    padding: 170px 0;
  }
  .hhc_collapse .btn_collapse,.hhc_collapse .card {
    font-size: 18px;
  }
  .hhc_collapse .card {
    line-height: 34px;
    padding: 20px 0 0;
  }  .hhc_collapse .btn_collapse::before{
         top: 19px;
       }
  .hhc_collapse .btn_collapse{
       padding: 25px 65px 25px 25px;white-space: inherit;
   }.hhc_collapse {
     margin: 20px 0;
   }
  .white-box .img_left, .white-box .img_right {
    position: relative;top: 0px; margin: 20px 0;
    padding: 30px 0;
  }
  .white-box .img_left{
    text-align: left;
  }
  .white-box .img_right {
    text-align: right;
  }
    /* line 93, ../sass/_screen.scss */
  .hc-footer-left, .hc-footer-right {
    width: 100%;
  }

  /* line 96, ../sass/_screen.scss */
  .team-marty li h5 {
    font-size: 16pt;
    margin-top: 5px;
  }

  /* line 100, ../sass/_screen.scss */
  .hc-footer-right-l {
    width: 220px;
    display: inline-block;
    padding-right: 0px;
  }
  /* line 104, ../sass/_screen.scss */
  .hc-footer-right-l img {
    margin-bottom: 40px;
  }

  /* line 108, ../sass/_screen.scss */
  .hc-footer-right {
    display: block;
    padding: 15px;
    text-align: center;
  }

  /* line 113, ../sass/_screen.scss */
  .team-marty li p {
    font-size: 14px;
  }

  /* line 116, ../sass/_screen.scss */
  .pr-sm-0 {
    padding-right: 15px;
  }

  /* line 119, ../sass/_screen.scss */
  .mb-custom {
    margin-bottom: 30px;
    text-align: center;
  }

  /* line 123, ../sass/_screen.scss */
  .hc-footer-right {
    font-size: 14px;
  }

  /* line 126, ../sass/_screen.scss */
  .team-marty li img {
    width: 200px;
  }

  /* line 129, ../sass/_screen.scss */
  .team-marty li {
    margin-bottom: 20px;
  }

  /* line 132, ../sass/_screen.scss */
  .hc-footer {
    display: block;
  }

  /* line 135, ../sass/_screen.scss */
  .hc-footer-right {
    padding: 40px 0;
  }

  /* line 138, ../sass/_screen.scss */
  .home-section {
    padding-top: 30px;
  }

  /* line 142, ../sass/_screen.scss */
  .voting-heading {
    font-size: 24pt;
    text-align: center;
  }

  /* line 146, ../sass/_screen.scss */
  .heading-middle {
    width: 100%;
    left: 0;
  }

  /* line 150, ../sass/_screen.scss */
  .hc-center-logo {
    position: relative;
    text-align: center;
    top: auto;
    right: auto;
    padding: 20px;
  }

  /* line 157, ../sass/_screen.scss */
  .hc-center-logo img {
    max-width: 100%;
  }

  /* line 160, ../sass/_screen.scss */
  .h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  /* line 164, ../sass/_screen.scss */
  .para1 {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  /* line 168, ../sass/_screen.scss */
  .slick-prev {
    left: 0px;
  }

  /* line 171, ../sass/_screen.scss */
  .slick-next {
    right: 0px;
  }

  /* line 174, ../sass/_screen.scss */
  .pro-carousel h4 {
    padding: 8px 20px;
  }

  /* line 177, ../sass/_screen.scss */
  .mb-sm-mob {
    margin-bottom: 40px;
  }

  /* line 180, ../sass/_screen.scss */
  .mt-sm-mob {
    margin-top: 40px;
  }

  /* line 183, ../sass/_screen.scss */
  .pt100 {
    padding-top: 50px;
  }

  /* line 186, ../sass/_screen.scss */
  .checkout-section {
    padding-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .slick-prev {
    left: 5px;
  }

  /* line 171, ../sass/_screen.scss */
  .slick-next {
    right: 5px;
  }
  .para4 {
    margin-top: 30px;
    text-align: center;
  }
  .slick-arrow img {
    max-width: 10px;
  }
  p br{
        display: none;
    }
  /* line 191, ../sass/_screen.scss */
  .btn-insta, .btn-learn-more, .btn-place-ordered, .btn-place-ordered2, .btn-place-ordered3, .btn-learn-more:focus, .btn-place-ordered:focus, .btn-place-ordered2:focus, .btn-place-ordered3:focus {
    width: 265px;
  }

  /* line 195, ../sass/_screen.scss */
  .right-side-juice {
    top: 40%;
    max-width: 50px;
  }

  /* line 199, ../sass/_screen.scss */
  .berry-white-sub {
    font-size: 20px;
    line-height: 36px;
  }

  /* line 203, ../sass/_screen.scss */
  .para2 br {
    display: none;
  }

  /* line 206, ../sass/_screen.scss */
  .donate-button {
    top: -10px;
    right: 70px;
  }

  /* line 210, ../sass/_screen.scss */
  .gothic-heading {
    font-size: 20pt;
  }

  /* line 213, ../sass/_screen.scss */
  .pt-20 {
    margin-top: 0;
  }

  /* line 216, ../sass/_screen.scss */
  .gothic-regular {
    font-size: 16pt;
  }

  /* line 219, ../sass/_screen.scss */
  .donate-button img {
    max-height: 90px;
  }
}


        .font-20 {
            font-size:20px
        }
        .bg-mehroon {
            background-color:#89495d !important;
        }
        .wonders_heading {
            font-family: lemonmilk-medium;
            font-size: 49px;
        }
        .bg-wonder-light {
            background-color :#eed5ce;

        }
        .text-mehroon {
            color: #89495d;
        }
        .line-height-1 {
            line-height: 2.3;
        }
        .p-custom {
            padding: 2px 2px 2px 6px;
        }
        .p-custom-lg {
            padding:2px 7px 2px 6px
        }
        .opacity-white-bg{
            background: #ffffffad;
        }
        .wonder-section {
            box-shadow: 0px 0px 10px #ddd;
            border-radius: 5px;
            overflow: hidden;
            transition: .3s all ease-in-out;
        }
        .wonder-section p {
            font-family: CenturyGothic;
            font-weight: 600;
            font-size: 16px;
            color:black;
        }
        .wonder-meta {
            padding: 25px 20px;
        }
       .text-black {
           color:black;
       }
       .font-24 {
           font-size:24px;
           font-weight:600;
       }
        /*.wonder-heading {*/
        /*    font-size: 18px;*/
        /*    font-family: lemonmilk-medium;*/
        /*    color: black;*/
        /*    min-height: 43.2px;*/
        /*}*/
        
