/*
================================
     Theme Fonts Family
================================
 */
@import "https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,800";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@font-face {
  src: url("../fonts/MYRIADPRO-BOLDCOND2.otf");
  font-family: myriad-pro-bold;
}
@font-face {
  src: url("../fonts/gothicb.ttf");
  font-family: gothicb;
}
@font-face {
  src: url("../fonts/CenturyGothic.ttf");
  font-family: CenturyGothic;
}
@font-face {
  src: url("../fonts/MYRIADPRO-REGULAR.otf");
  font-family: myriad-pro-regular;
}
@font-face {
  src: url("../fonts/LEMONMILK-Regular.otf");
  font-family: lemonmilk-Regular;
}

@font-face {
  src: url("../fonts/LEMONMILK-bold.otf");
  font-family: lemonmilk-bold;
}
@font-face {
  src: url("../fonts/LEMONMILK-Medium.otf");
  font-family: lemonmilk-medium;
}

@font-face {
  src: url("../fonts/Angelic-Bonques-Script.otf");
  font-family: angelic-bonques-script;
}


//Theme Fonts Variable
$roboto-font: 'Roboto', sans-serif;
$myriad-bold-font:   myriad-pro-bold;
$myriad-regular-font:   myriad-pro-regular;
$lemonmilk-Regular:   lemonmilk-Regular;
$lemonmilk-bold:   lemonmilk-bold;
$lemonmilk-medium:   lemonmilk-medium;
$montserrat-font: 'Montserrat', sans-serif;